<h2 class="TitleText increaseTitleText">Witaj na stronie internetowej ułatwiającej wybór sprzęty dla graczy gier komputerowych</h2>

<div *ngIf="isDataAvailable">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="row d-flex" style="height: 100%;">
                <div class="col-xs-12 col-lg-12 col-sm-12 " style="padding: 10px;">
                    <div class="container3" [routerLink]="['/news',newsData[1].id]">
                        <img [src]="imageServer(newsData[0]?.image)" style="width: 100%; height: 100% " />
                        <div class="content3">
                            <p >{{newsData[0]?.title}}</p>
                            <p>{{newsData[0]?.username}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-lg-4">
            <div class="row d-flex align-items-center" style="height: 100%;">
                <div class="col-xs-12 col-lg-12 col-sm-6 margins" *ngFor="let index of [0,1]" >
                    <div class="container3" [routerLink]="['/news',newsData[1].id]">
                        <img [src]="imageServer(newsData[1].image)" style="width: 100%; height: 100% " />
                        <div class="content3">
                            <p>{{newsData[index+1]?.title}}</p>
                            <p>{{newsData[index+1]?.username}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="row d-flex">
                <div class="col-sm-6 col-lg-3" *ngFor="let index of [0,1,2,3]" style="padding: 10px;">
                    <div class="subcontainer" [routerLink]="['/news',newsData[index+3].id]">
                        <img [src]="imageServer(newsData[index+3].image)" style="width: 100%; height: 100%">
                        <div class="subcontent">
                            <b>{{newsData[index+3].title}}</b>
                            <p style="font-size: 10px;">{{newsData[index+3].username}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>