<div class="row d-flex">
    <form name="recorveryPassword" class="form-login">
        <div class="form-group">
            <label for="email" class="col-form-label">Podaj Email podany przy rejestracji:</label>
            <input class="form-control input" id="email" name="email" type="text" placeholder="Email"
                [(ngModel)]="email">
            <div class="wrapper">
                <button class="btn btn-primary" (click)="lostPassword()">Wyślij</button>
            </div>
        </div>
    </form>
</div>