table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.item {
    width: 80%;
    margin-left: 10%;
}

.textOne {
    display: inline-block;
}

.textTwo {
    float: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    max-width: 100%;
}

.table {
    max-width: 60%;
}

.form-inline .form-group {
    margin-right: 4px;
    display: flex;
    justify-content: flex-end;
}

.allig-rigth-side {
    display: flex;
    justify-content: flex-end
}