/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.component, html {
    background-color:rgb(216, 216, 216);
    height: 100%;
}
body{
    height: 100%;

}

.container {
    background: white;
    min-height: 100%;
}

.ck-editor__editable_inline {
    min-height: 500px;
}
