<div class="container">
    <div class="row justify-content-center align-items-center">
        <H4>Top najlepszych procesorów i karty graficznych</H4>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <div class="col-lg-12">
                Procesory:
            </div>
            <div class="col-lg-12">
                <app-top-cpu></app-top-cpu>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <div class="col-lg-12">
                Karte Graficzne:
            </div>
            <div class="col-lg-12">
                <app-top-gpu></app-top-gpu>
            </div>
        </div>
    </div>
</div>