<div class="row d-flex">
    <form name="login" class="form-login" (keyup.enter)="loginUser()">
        <h4>Logowanie</h4>
        <div class="form-label-group">
            <input type="text" id="login" name="login" class="form-control input-sm" placeholder="login"
                [(ngModel)]="login" minlength="4" #loginname="ngModel" required />
            <div *ngIf="loginname.invalid && (loginname.dirty || loginname.touched)" class="alert alert-danger">
                <div *ngIf="loginname.errors.required">
                    Login jest wymagany
                </div>
            </div>
        </div>
        <div class="form-label-group">
            <input type="password" id="inputPassword" name="inputPassword" class="form-control input-sm"
                placeholder="hasło" [(ngModel)]="password" #passwordtest="ngModel" required />
            <div *ngIf="passwordtest.invalid && (passwordtest.dirty || passwordtest.touched)"
                class="alert alert-danger">
                <div *ngIf="passwordtest.errors.required">
                    hasło jest wymagane
                </div>
            </div>
        </div>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck" >
            <label class="custom-control-label" for="customCheck">Zapamietaj hasło</label>
          </div>
        <div class="wrapper">
            <button type="submit" class="btn btn-primary" (click)="loginUser()">Logowanie</button>
        </div>
        <div class="wrapper">
            <a mat-dialog-actions class="forgotPassword" (click)="lostPassword()">Nie pamiętasz hasła?</a>
        </div>
    </form>
</div>