.form-control {
    max-width: 100%;
}

.col-center {
    margin: 0 auto;
    float: none;
}

center {
    display: flex;
    justify-content: center;
}

#answer {
    margin-top: 1%;
    text-align: center;
}

@media (max-width:1000px) {
    .selectCpu {
        text-align: center;
    }
    .selectGpu {
        text-align: center;
    }
}